body{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}
p{
    text-align: justify;
}
h1{
    font-size: 45px;
}
span{
    color: orangered;
}
section{
    display: flex;
}
.for-hw{
    width: 50%;
    padding-left: 5%;
}
.for-hw img{
width: 80%;
margin-top: 40px;
padding-left: 60px;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(yellow,orangered);
    padding: 5px 20px;
    color: black;
    font-weight: 800;
    border-radius: 20px;
}
#top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.for-hw2{
    width: 50%;
    padding-right: 10%;
}
.for-hw2 img{
    width: 90%;
    margin-top: 40px;
    padding-right: 60%;
    padding-left: 10%;
}
#middle-banner{
    margin-top: 40px;
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}